<!-- <html>
	<head>
		< %- include('ui/header'); % >
		<title>Circuito Analogico - Ayuda</title>
	</head>
	<body>
		< %- include('ui/menu', {user: user, active: 'help'}); % >
		<div id="content"> -->
			<iframe class="container-fluid vh-100" src="views/<%= view %>"></iframe>
		<!-- </div>
	</body>
</html> -->
