<!-- <?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:epub="http://www.idpf.org/2007/ops">
  <head>
    < %- include('ui/header'); % >
    <title>LAB</title>
  </head>
  <body>
    < % - include('ui/menu', {user: user, active: 'experiment'}); % > -->
    <!-- <div class="h-100 container-fluid"> -->
    <script type="text/javascript">
      var LAB_KEY = <%- JSON.stringify(key) %>;
      var LAB_ADDRESS = "http://<%- ip %>:<%- port -%>";
    </script>
    <iframe class="container-fluid vh-100" seamless="true" src="views/<%= view %>"></iframe>
    <!-- </div> -->
  <!-- </body> -->
<!-- </html> -->
