<div>
  <form action="/admin/controller/set" method="post">
    <input type="file" name="controller">
    <label for="controller">Controller:</label>
    <input type="submit" value="Submit">
  </form>
</div>