<div class="mb-2 w-50">
    <form action="/admin/views/set" method="post" encType="multipart/form-data">
        <label for="view" class="form-label">Archivo EJS (zip):</label>
        <input type="file" class="form-control" name="view">
        <input type="submit" class="form-control" value="Submit">
    </form>
</div>