<table class="table table-sm table-striped table-hover table-borderless caption-top" id="controllersTable">
  <caption>Controladores disponibles</caption>
  <thead class="table-primary">
    <tr>
      <th scope="col" class="align-middle"><input type="checkbox"></input></th>
      <th scope="col">Id</th>
      <th scope="col">Nombre</th>
      <th scope="col">Lenguaje</th>
    </tr>
  </thead>
  <tbody>
    <% result.forEach(function(c){ %>
      <tr>
        <td class="align-middle"><input type="checkbox"></input></td>
        <th scope="row"><%= c.dataValues.id %></th>
        <td><%= c.dataValues.name %></td>
        <td></td>
      </tr>
    <% }); %>
  </tbody>
</table>