<!DOCTYPE html>
<html>
	<head>
		<%- include('ui/header'); %>
		<script>
			function onbusy(busy) {
				if (state) {
					alert("Práctica ocupada. Inténtelo más tarde.");
					window.location = "./home";
				}
			}
		</script>
	</head>
	<body onload='onbusy(<%= state %>)'>
        <%- include('ui/menu', {user: user}); %>
		<div class="select">
			<div class="select-block"> 
				<h1>Descripción</h1>
				<p align="center"> <a href="/help"> <img src="/images/help_question_4509.png" alt="REAL" height="160" width="180"> </a> </p>
			</div>
			<div class="select-block"> 
				<h1>Experimento</h1>
				<p align="center">  <a href="/remotelab"> <img src="/images/Op-amp.png" alt="REAL" height="160" width="180"> </a> </p>
			</div> 
			<div class="select-block"> 
				<h1>Datos</h1>
				<p align="center">  <a href="/data"> <img src="/images/carpeta_transp.png" alt="REAL" height="160" width="180"> </a> </p>
			</div> 
		</div>
	</body>
</html>