<nav class="navbar navbar-expand-lg navbar-dark bg-primary text-light fw-bold p-0">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">VRLabs-ISA</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link<% if(locals.active=='help') { %> active<% } %>" aria-current="page" href="help"><i class="mx-1 bi bi-info-circle"></i>Descripción</a>
        </li>
        <li class="nav-item">
          <a class="nav-link<% if(locals.active=='experiment') { %> active<% } %>" href="remotelab"><i class="mx-1 bi bi-hammer"></i>Experimento</a>
        </li>
        <li class="nav-item">
          <a class="nav-link<% if(locals.active=='data') { %> active<% } %>" href="data"><i class="mx-1 bi bi-download"></i>Datos</a>
        </li>
        <% if (user.name = 'admin') { %>
        <li class="nav-item">
          <a class="nav-link<% if(locals.active=='admin') { %> active<% } %>" href="admin"><i class="mx-1 bi bi-gear"></i>Administración</a>
        </li>
        <% } %>
      </ul>
      <div class="dropdown">
        <button class="btn btn-primary text-light dropdown-toggle" type="button" id="session" data-bs-toggle="dropdown" aria-expanded="false">
          <%= user.displayName %>
          <img class="mx-2 logout" src="/images/user_icon.png" width="40" height="36"/>
        </button>
        <ul class="dropdown-menu" aria-labelledby="session">
          <li><a class="dropdown-item fw-bold btn btn-danger btn-outline" href="logout">Cerrar Sesión</a></li>
        </ul>  
      </div>
    </div>
  </div>
</nav>