<div class="menu">
    <ul>
        <li><a href="help">Descripción</a></li>
        <li><a href="real">Experimento</a></li>
        <li><a href="data">Datos</a></li>
        <li style="float:right">
            <a href="logout" style="float:right">Cerrar Sesión</a>
            <span> <%= user.displayName %> </span>
            <img class="logout" src="/images/user_icon.png" alt="REAL" width="40" height="36"/>
        </li>
    </ul>
</div>