<!-- <div class="container-fluid d-flex justify-content-center" id="activities">
  <! -- Content is dinamically updated -- >
</div>

<div class="" id="activitiesNavBar">
  <a class="btn btn-primary" href="/admin">
    <i class="bi bi-arrow-left"></i> Volver
  </a>
  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalActivity">
    Añadir actividad...
  </button>
</div>

<div class="modal fade" id="modalActivity" tabindex="-1" aria-labelledby="modalActivity" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
  <div class="modal-dialog modal-dialog-centered modal-lg container">
    <div class="modal-content">
      <form id="formAddActivity" action="/admin/activity/add" method="post" encType="multipart/form-data">
        <input type="hidden" name="_csrf" value="<%= csrfToken  %>">
        <div class="modal-header">
          <h5 class="modal-title" id="modalActivityLabel">Añadir actividad.</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="container-fluid">
            <div class="row mb-3">
              <div class="col-md-2"><label for="name" class="col-form-label">Nombre:</label></div>
              <div class="col-md-10"><input type="text" class="form-control" name="name"></div>
            </div>
            <div class="row mb-3">
              <div class="col-md-4"><label for="name" class="col-form-label">Tiempo de sesión (min):</label></div>
              <div class="col-md-2"><input type="text" class="form-control" name="sessionTimeout" value="15"></div>
              <div class="col-md-4"><label for="name" class="col-form-label">Tiempo de Desconexión (s):</label></div>
              <div class="col-md-2"><input type="text" class="form-control" name="disconnectTimeout" value="20"></div>
            </div>
            <div class="row mb-3">
              <div class="col-md-4">
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="radioView" id="radioView1" value="true" checked>
                  <label class="form-check-label" for="radioView1">
                    Vista existente:
                  </label>
                  <select class="form-select" name="viewName">
                    <option value="" selected>Elige una vista...</option>  
                  </select>
                </div>
              </div>
              <div class="col-md-8">
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="radioView" id="radioView2" value="false">
                  <label class="form-check-label" for="radioView2">
                    Nueva vista:
                  </label>
                  <input type="file" class="form-control" name="view">
                </div>
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-md-4">
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="radioController" id="radioController1" value="true" checked>
                  <label class="form-check-label" for="radioController1">
                    Controlador existente:
                  </label>
                  <select class="form-select" name="controllerName">
                    <option value="" selected>Elige un controlador...</option>
                  </select>
                </div>
              </div>
              <div class="col-md-8">
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="radioController" id="radioController2" value="false">
                  <label class="form-check-label" for="radioController2">
                    Nuevo controlador:
                  </label>
                  <input type="file" class="form-control" name="controller">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <input type="button" class="btn btn-primary" value="Submit" onclick="sbm()">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </form>
</div> -->

<!-- <script>
  fill('view', {}, $('[name=viewName]'));
  fill('controller', {}, $('[name=controllerName]'));  
  function fill(model, query, select) {
    post(`/admin/q/${model}/get`, 
      JSON.stringify(query),
      result => {
        var distinct = [];
        for (var r of result) {
          if (distinct.includes(r.name)) { continue; }
          distinct.push(r.name);
          select.append($('<option>', {
            value: r.name,
            text: r.name
          }));
        }
      },
      error => {
        showMessage(`${component} not deleted.`, 'modalGenericMessage');
      }
    )
  }

  function sbm() {
    let form = $('#formAddActivity'), data = new FormData(form[0]);
    filter = [
      'radioController',
      'radioView',
      (data.get('radioController') == 'true') ? 'controller' : 'controllerName',
      (data.get('radioView') == 'true') ? 'view' : 'viewName' 
    ];
    filter.forEach(e => data.delete(e) );
    for(var a of data) { console.log(a); }
    submitForm(form.attr('action'), data,
      success => {
        showMessage('Actividad añadida.', 'modalGenericMessage');
        refreshTable('activities');
      },
      error => {
        showMessage(error.responseText, 'modalGenericMessage');
    });
  }
</script> -->
