<div class="container-fluid d-flex justify-content-center" id="courses">
  <!-- Content is dinamically updated -->
</div>

<div class="" id="activitiesNavBar">
  <a class="btn btn-primary" href="/admin">
    <i class="bi bi-arrow-left"></i> Volver
  </a>
  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalCourse">
    Nuevo curso...
  </button>
</div>

<div class="modal fade" id="modalCourse" tabindex="-1" aria-labelledby="modalCourse" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
  <div class="modal-dialog modal-dialog-centered modal-lg container">
    <div class="modal-content">
      <form id="formAddActivity" action="/admin/activity/add" method="post" encType="multipart/form-data">
        <input type="hidden" name="_csrf" value="<%= csrfToken  %>">
        <div class="modal-header">
          <h5 class="modal-title" id="modalActivityLabel">Nuevo curso.</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="container-fluid">
            <div class="row mb-3">
              <div class="col-md-2"><label for="name" class="col-form-label">Nombre:</label></div>
              <div class="col-md-10"><input type="text" class="form-control" name="name"></div>
            </div>
            <div class="col-md-12">
              <label for="users" class="col-form-label">Importar alumnos</label>
              <input type="file" class="form-control h-50" name="users" accept=".csv"
      onchange="onFileChanged(this.files[0], 'usersTable')">
            </div>
            <div class="col-md-12 overflow-scroll">
              <table name="usersTable" id="usersTable"></table>
            </div>
            <div class="row mb-3">
              <div class="col-md-12">
                <label for="activityName" class="col-form-label">Pueden realizar las actividades:</label>
                <select class="form-select" multiple size="10" name="activityName">
                </select>
              </div>
            </div>
        </div>
        <div class="modal-footer">
          <input type="button" class="btn btn-primary" value="Submit" onclick="sbm()">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </form>
</div>

<script>
  onFileChanged = function (f, table) {
    var reader = new FileReader();
    reader.onload = function () {
      let lines = reader.result.split('\n');
      let users = lines.map((l) => {
        let fields = l.split(',');
        try {
          return {
            id: fields[0],
            username: fields[1],
            displayName: fields[2],
            password: fields[3],
            emails: fields[4],
            permissions: fields[5],
          };
        } catch (e) { }
      }).slice(1);
      fillTable(users, table);
    };
    reader.readAsText(f);
  }

  fillTable = function (users, table) {
    post('/admin/table/get/users',
      JSON.stringify({ 'table': 'users', 'data': users }),
      result => {
        $(`[name=${table}]`).replaceWith(result);
      }
    );
  }

  fill('activity', {}, $('[name=activityName]'));
  function fill(model, query, select) {
    post(`/admin/q/${model}/get`, 
      JSON.stringify(query),
      result => {
        var distinct = [];
        for (var r of result) {
          if (distinct.includes(r.name)) { continue; }
          distinct.push(r.name);
          select.append($('<option>', {
            value: r.name,
            text: r.name
          }));
        }
      },
      error => {
        showMessage(`${component} not deleted.`, 'modalGenericMessage');
      }
    )
  }

  function sbm() {
    let form = $('#formAddActivity'), data = new FormData(form[0]);
    filter = [
      'radioController',
      'radioView',
      (data.get('radioController') == 'true') ? 'controller' : 'controllerName',
      (data.get('radioView') == 'true') ? 'view' : 'viewName' 
    ];
    filter.forEach(e => data.delete(e) );
    for(var a of data) { console.log(a); }
    submitForm(form.attr('action'), data,
      success => {
        showMessage('Actividad añadida.', 'modalGenericMessage');
        refreshTable('activities');
      },
      error => {
        showMessage(error.responseText, 'modalGenericMessage');
    });
  }
</script>
