<div class="container-fluid d-flex justify-content-center" id="users">
  <!-- Content is dinamically updated -->
</div>

<div class="d-flex m-2">
  <button class="me-auto btn btn-success" onclick="getData()">Guardar cambios</button>
  <div>
    <label for="formFile" class="form-label">Importar desde archivo...</label>
    <input class="form-control" type="file" name="formFile" id="formFile" accept=".csv" onchange="onFileChanged(this.files[0])">
  </div>
</div>

<script>
  onFileChanged = function(f) {
    var reader = new FileReader();
    reader.onload = function() {
      let lines = reader.result.split('\n');
      let users = lines.map((l) => {
        let fields = l.split(',');
        try {
          return {
            id: fields[0],
            username: fields[1],
            displayName: fields[2],
            password: fields[3],
            emails: fields[4],
            permissions: fields[5],
          };
        } catch(e) {}
      }).slice(1);
      fillTable(users);
    };
    reader.readAsText(f);
  }

  getData = function() {
    var table = $('#usersTable')[0];
    // var table = document.getElementById("usersTable");
    // Gather users.
    let users = [];
    for (var i=1; i < table.rows.length-1; i++) {
      var cells = table.rows.item(i).cells;
      try{
        users.push({
          id : cells[1].innerHTML,
          username : cells[2].childNodes[0].value,
          displayName : cells[3].childNodes[0].value,
          password : cells[4].childNodes[0].value,
          emails : cells[5].childNodes[0].value,
          permissions : cells[6].childNodes[0].value,
        });
      } catch(error) {}
    }

    var token = document.querySelector('meta[name="csrf-token"]').getAttribute('content');
    $.ajax({
      type: 'POST',
      url: '/api/users/set',
      headers: {
        'CSRF-Token': token,
        'Content-Type': 'application/json'
      },
      data: JSON.stringify(users),
      processData: false,
      success: function(data) {
        // alert(JSON.stringify(data));
        // location.reload();
      },
    });
  }

  fillTable = function(users) {
    let table = $('#usersTable');
    var token = document.querySelector('meta[name="csrf-token"]').getAttribute('content');
    $.ajax({
      type: 'POST',
      url: '/admin/table/get/users',
      headers: {
        'CSRF-Token': token,
        'Content-Type': 'application/json'
      },
      data: JSON.stringify({ 'table': 'users', 'data': users }),
      processData: false,
      success: function(result) {
        $('#usersTable').replaceWith(result);
      },
    });
  }

</script>