<div class="container-fluid d-flex flex-column vh-100">
  <div class="container-fluid d-flex flex-row">
    <label for="viewsActions" class="flex-shrink-1">Con las vistas seleccionadas</label>
    <select class="form-select form-select-sm" id="viewsActions" aria-label="Elementos seleccionados">
      <option selected>Elegir...</option>
      <option value="delete">Eliminar</option>
      <option value="download">Descargar como zip</option>
    </select>
  </div>
  <div class="container-fluid overflow-scroll" id="views">
      <!-- Content is dinamically updated -->
  </div>
  <nav aria-label="View page navigation">
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#importViewModal">
      Importar vista...
    </button>
    <ul class="pagination">
      <li class="page-item"><a class="page-link" href="#">Anterior</a></li>
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item"><a class="page-link" href="#">Siguiente</a></li>
    </ul>
  </nav>
</div>

  
<div class="modal fade" id="importViewModal" tabindex="-1" aria-labelledby="importViewModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <form action="/admin/views/set" method="post" encType="multipart/form-data">
        <input type="hidden" name="_csrf" value="<%= csrfToken  %>">
        <div class="modal-header">
          <h5 class="modal-title" id="importViewModalLabel">Importar vista desde archivo EJS (zip)</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="mb-3">
            <label for="view" class="form-label">Archivo EJS (zip):</label>
            <input type="file" class="form-control" name="view">
          </div>

          <div class="mb-3">
            <label for="view" class="form-label">Nombre:</label>
            <input type="text" class="form-control" name="name">
          </div>
      
          <div class="mb-3">
            <label for="view" class="form-label">Descripción:</label>
            <input type="text" class="form-control" name="comments">
          </div>
        </div>
        <div class="modal-footer">
          <input type="submit" class="btn btn-primary" value="Submit">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </form>
  </div>
</div>