<!DOCTYPE html>
<html>
	<head>
		<%- include('../ui/header', { csrfToken: '' }  ); %>
    <script src="https://pagecdn.io/lib/ace/1.4.12/ace.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<body>
    <div class="container-fluid d-flex">
      <div class="editor w-100" id="editor" style="min-height: 400pt;"></div>
      <div class="container" id="editor-log"><textarea class="w-100 h-100" id="logger"></textarea></div>
    </div>
    <div class="container d-flex">
      <button class="btn btn-primary m-1" id="run" onclick="play()"><i class="bi bi-play"></i></button>
      <button class="btn btn-secondary m-1" id="step" onclick="step()"><i class="bi bi-pause"></i></button>
      <button class="btn btn-secondary m-1" id="stop" onclick="stop()"><i class="bi bi-stop"></i></button>
      <button class="btn btn-secondary m-1" id="load" onclick="load()"><i class="bi bi-cloud-download"></i></button>
      <button class="btn btn-secondary m-1" id="save" onclick="save()"><i class="bi bi-cloud-upload"></i></button>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/peggy"></script>
    <script>
      var editor = ace.edit('editor');
      editor.setTheme("ace/theme/monokai");
      editor.session.setMode("ace/mode/javascript");
      editor.setValue(`SETPVC A=[3.8, 3, 3, 3]
MOVE [2, 2, 2, 2]
MOVE A
SETPVC A=[3.8, 38, 3, 3]
MOVE A
SETPVC B=[3.8, 38, 3, 3]
SETPVC C=[5, 1, 1, 2.97]
IF A <> B
  MOVE B
  MOVE C
ELSE
  MOVE C
ENDIF
FOR i=1 TO 5
  MOVE B
ENDFOR
`);
      var module = {};
      const logger = $("#logger")[0];

      function play() {
        try {
          var interpreter = new Interpreter();
          var program = interpreter.compile(editor.getValue());
          var result = interpreter.execute(program);
          console.log(program.getInstructions());
          logger.value += interpreter.log.join('\n');
        } catch(e) {
          logger.value += e;
        } finally {
          logger.value += '\n---\n';
        }
      };

      function step() {};
      function stop() {};
      function load() {};
      function save() {};
    </script>

    <script src="/scripts/parser.js"></script>
  </body>
</html>